<h1>OFERTA DE VIAJES!!!!</h1>
<form action="/usuario/buscarVueloVista" method="POST">
    <label for="nombreID">Origen:</label>
    <input id="nombreID" type="text" name="nombre_usuario">
    <br>
    <label for="apellidoID">Destino:</label>
    <input id="apellidoID" type="text" name="apellido_usuario">
    <br>
    <label for="correoID">Salida:</label>
    <input id="correoID " type="date" name="correo_usuario">
    <br>
    <label for="edadID">Retorno:</label>
    <input id="edadID " type="date" name="edad_usuario">
    <br>
    <label for="contraseniaID">Pasajeros:</label>
    <input id="contraseniaID " type="hidden" name="contrasenia">
    <br>
    <button type="submit">BUSCAR</button>
</form>

