

<h1>OFERTA DE VIAJES!!!!</h1>

<% const ofertas = {codigo: "SN 2585", origen: "Quito", destino: "Bogotá"}%>


<form action="/vuelo/vista/ofertas" method="get">
    <label for="destinoID">Destino:</label>
    <input id="destinoID" type="text" name="destino">
    <br>
    <button type="submit">BUSCAR</button>
</form>

<table>
    <tr>

        <th>Origen</th>
        <th>Destino</th>
        <th>Acciones</th>
    </tr>

    <% arregloViaje.forEach((objeto)=>{ %>
        <tr>
            <td><%= objeto.lugar_origen%></td>
            <td><%= objeto.lugar_destino%></td>
            <td>
                <a href="vuelo/datosViajes/<%= objeto.id%>"  >
                    <button>Seleccionar</button>
                </a>
            </td>
        </tr>
    <% } ) %>

</table>

