<%- include('../compartido/menu/menuAdmin')%>
<link rel="stylesheet" href="/css/formulario-admin.css">
<h1>ADMINSITRAR VIAJES</h1>
<body>

<section class="viajes">
<form action="/vuelo/adminViajesVista" method="POST">
    <label for="asientosdiponiblesID">Asientos diponibles:</label>
    <input class="controls" id="asientosdiponiblesID" type="text" name="asientos_diponibles">
    <br>
    <label for="asientosocupadosID">Asientos ocupados:</label>
    <input class="controls" id="asientosocupadosID" type="text" name="asientos_ocupados">
    <br>
    <label for="orienID">Origen:</label>
    <input class="controls" id="orienID " type="text" name="lugar_destino">
    <br>
    <label for="destinoID">Destino:</label>
    <input class="controls" id="destinoID" type="text" name="lugar_origen">
    <br>

    <label for="cars">Choose a car:</label>

    <select class="controls" id="estado_vueloID" name="opciones">
        <option value="volvo">Atiempo</option>
        <option value="saab">Cancelado</option>
        <option value="mercedes">Atrasado</option>

    </select>

    <br>
    <label for="tipo_vueloID">Tipo de vuelo:</label>
    <input class="controls" id="tipo_vueloID" type="text" name="tipo_vuelo">
    <br>

    <button class="botons" type="submit">CREAR</button>
</form>
</section>
</body>