<h1>Datos del viaje</h1>

<form action="/usuario/buscarVueloVista" method="POST">

    <label for="salidaID">Salida:</label>
    <input id="salidaID " type="date" name="salida">
    <br>
    <label for="retornoID">Retorno:</label>
    <input id="retornoID " type="date" name="retorno">
    <br>
    <label for="pasajerosID">Pasajeros:</label>
    <input id="pasajerosID " type="hidden" name="pasajeros">
    <br>
    <label for="claseID">Clase:</label>
    <input id="claseID" type="text" name="clase">

</form>