
<link rel="stylesheet" href="/css/menu.css">
<body>

<div id="menu">

    <ul>
        <li>
            <a href="/vuelo/vista/admin">Inicio</a>
        </li>
        <li id="viajes">
            <a href="/vuelo/vista/adminViajes"> Viajes </a>
        </li>

        <li id="reservas">
            <a href ="/cabeceraReserva/vista/reservaAdmin" > Reservas </a>
        </li>

        <li id="asientos">
            <a href="/vuelo/vista/adminUsuarios"> Usuarios </a>
        </li>
        <li>
            <a href="/rolUsuario/vista/logout">Logout</a>
        </li>


    </ul>

</div>

</body>
