
<link rel="stylesheet" href="/css/menu.css">
<body>

<div id="menu">

    <ul>
        <li>
            <a href="admin">Inicio</a>
        </li>
        <li id="viajes">
            <a href="adminViajes"> Viajes </a>
        </li>

        <li id="escalas">
            <a href ="adminReservas" > Reservas </a>
        </li>

        <li id="asientos">
            <a href="adminUsuarios"> Usuarios </a>
        </li>


    </ul>

</div>

</body>
