


<link rel="stylesheet" href="/css/inicio.css">
<body>
<% if(typeof error != 'undefined') {%>
<p>MENSAJE ERROR: <%=error%></p>
<%}%>

<section class="centrado">



<h1>VIAJES 593!!!</h1>

<a class="sesion" href="/usuario/vista/iniciar/">
    <button class="boton" type="submit">Iniciar Sesión</button>
</a>

<a class="registro" href="/usuario/vista/registrar/">
    <button class="boton" type="submit">Registrarse</button>
</a>
</section>

</body>












