<form action="/usuario/loginVista"method="POST">
    <label for="correoID">COOREO:</label>
    <input id="correoID" type="text" name="correo_usuario">
    <br>
    <label for="contraseniaID">CONTRASEÑA:</label>
    <input id="contraseniaID" type="password" name="contrasenia">
    <br>
    <button type="submit">INICIAR SESION</button>
</form>