<link rel="stylesheet" href="/css/formulario-registro.css">
<body>
<section class="form-register">
<form action="/rolUsuario/registrarVista" method="POST">
    <label for="nombreID">NOMBRE:</label>
    <input class="controls" id="nombreID" type="text" name="nombre_usuario">
    <br>
    <label for="apellidoID">APELLIDO::</label>
    <input class="controls" id="apellidoID" type="text" name="apellido_usuario">
    <br>
    <label for="correoID">CORREO:</label>
    <input class="controls" id="correoID " type="text" name="correo_usuario">
    <br>
    <label  for="edadID">EDAD:</label>
    <input  class="controls" id="edadID " type="number" name="edad_usuario">
    <br>
    <label for="contraseniaID">CONTRASEÑA:</label>
    <input  class="controls" id="contraseniaID " type="password" name="contrasenia">
    <br>
    <button class="botons" type="submit">REGISTRAR</button>
</form>
</section>

</body>